@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul{ 
  list-style: none;
}

a{ 
  color: #333;
  text-decoration-line: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: .8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top{
  background: transparent;
}

.navbar a{
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover{
  border-bottom: #28a745 2px solid;
}

.navbar ul{
  display: flex;
}

.navbar .logo{
  font-weight: 400;
}

/* Header */
.hero {
  background: url(../image_resources/home/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size: 50px;
  padding-top: 25px;
}

.hero .content p{
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before{
  content:'';
  position: absolute;
  top: zero;
  left: zero;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}

.hero *{
  z-index: 10;
}

.hero.blog{
  background: url('../image_resources/home/blog.jpg') no-repeat center center/cover;
  height: 28vh;
}

/* Icons */
.icons{
  padding: 30px;
}

.icons h3{
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i{
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover{
  opacity: .7;
}

.team img{
  border-radius: 50%;
}

/* Callback Form */
.callback-form{
  width: 100%;
  padding: 20px 0;
}

.callback-form label{
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control{
  margin-bottom: 15px;
}

.callback-form input{
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus{
  outline-color: #28a745;
}

.callback-form .btn{
  padding: 12px 0;
  margin-top: 20px;
}

/* Post */
.content h1{
  padding-top: 75px;
}

.post{
  padding: 50px 30px;
}

.post h2{
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: .5rem;
}

.post .meta{
  margin: 0;
  margin-bottom: .5rem;
}

.post img{
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 20px auto 15px;
  margin-bottom: -.25rem;
}

.max-width{
  padding-top: 1.5rem;
}

.max-width p{
  padding: 0px;
  max-width: 700px;
  margin: 25px auto;
}

.flexbox-test{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: #ccc solid 1px;
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  padding-top: 1.5rem;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: #28a745;
}

.footer .social > *{
  margin-right: 30px;
}

/* Media Quieres */
@media(max-width: 768px){
  .navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a{
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items{
    flex-direction: column;
  }

  .flex-columns .column{
    flex: 100%;
    max-width: 100%;
  }

  .team img{
    width: 70%;
  }

  .column-2 h2{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-left: 2rem;
  }
}

@media(min-width: 769px) and (max-width: 1200px){
  .contact .column-2 h2{
    padding: 0;
    margin: 0;
    margin-left: 3rem;
    }
  }

@media(min-width: 600px){
  .contact h2{
  margin-left: 20%;
    }
  }